<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body>
    <th:block th:fragment="footer">
        <footer>
            <div id="contact" class="footer">
                <div class="container">
                    <div class="row pdn-top-30">
                        <div class="col-md-12 ">
                            <div class="footer-box">
                                <div class="headinga">
                                    <h3>Address</h3>
                                    <span>Emmentalerstr 99, 13409 Berlin, Germany, Deutschland</span>
                                    <p>(+49) 17674560549
                                        <br>infoigrekeff@yahoo.com</p>
                                </div>
                                <ul class="location_icon">
                                    <li> <a href="https://github.com/Melick237"><i class="fa fa-github"></i></a></li>
                                    <li> <a href="https://join.skype.com/invite/fXgdNa9KfP35"><i class="fa fa-skype"></i></a></li>
                                    <li> <a href="https://www.instagram.com/melachiotsayem/"><i class="fa fa-instagram"></i></a></li>

                                </ul>
                                <div class="menu-bottom">
                                    <ul class="link">
                                        <li> <a href="/">Home</a></li>
                                        <li> <a href="about">About</a></li>

                                        <li> <a href="brand">Brand </a></li>
                                        <li> <a href="contact"> Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <p>© 2021 All Rights Reserved. Design By<a href="https://melick237.github.io/myCV/"> Loic Melachio Tsayem</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </th:block>
</body>
</html>