<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body>
    <th:block th:fragment="header">
        <div class="loader_bg">
            <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
        </div>
        <header>
            <!-- header inner -->
            <div class="header">

                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo">
                                        <a href="index.html"><img src="/images/logo.png" alt="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                            <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main">
                                            <li class="active"> <a href="/">Home</a> </li>
                                            <li> <a href="about">About</a> </li>
                                            <li><a href="brand">Brand</a></li>
                                            <li><a href="contact">Contact Us</a></li>
                                            <li sec:authorize="hasAuthority('MODERATOR')"><a href="/users">Users</a></li>
                                            <li sec:authorize="isAnonymous()">
                                                <a href="login">Login</a>
                                            </li>
                                            <li class="last" th:if="${user != null}">
                                                <a th:href="'/user?id='+${user.id}" th:text="${user.lastName + ' ' + user.firstName}"></a>
                                            </li>
                                            <li sec:authorize="isAuthenticated()">
                                                <form action="#" id ="logoutForm" th:action="@{/logout}" method="get">
                                                </form>
                                                <a href="#"  id="logout" onclick="document.getElementById('logoutForm').submit()">Logout
                                                </a>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-6">
                            <div class="location_icon_bottum">
                                <ul>
                                    <li><img src="/icon/call.png" />(+49)17674560549</li>
                                    <li><img src="/icon/email.png" />infoigrekeff@yahoo.com</li>
                                    <li><img src="/icon/loc.png" />Berlin</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header inner -->
        </header>

    </th:block>
</body>
</html>