<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- basic -->

    <!-- bootstrap css -->
    <th:block th:insert="util/import.html :: meta"></th:block>
    <th:block th:insert="util/import.html :: sitemeta"></th:block>
    <th:block th:insert="util/import.html :: maincss"></th:block>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <th:block th:insert="util/header.html :: header"></th:block>
    <!-- end header -->
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Our Brand</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--search-->
    <form action="/gap" method="get">
        <br>
        <input type="number" id="min" name="min" placeholder="Von"> -
        <input type="number" id="max" name="max" placeholder="Bis">

        <input type="submit" id="searchBtn" value="Submit">

    </form>
    <!--end search-->
    <!--stars-->
    <form action="/stern" method="get">

        <input type="number" id="stars" name="stars" placeholder="how many stars?">

        <input type="submit" id="starSearchBtn" value="Submit">
    </form>

    <br>
    <br>
    <br>
    <div sec:authorize="hasAuthority('MODERATOR')">
        <a class="btn btn-success" href="/addPhone">Add Phones</a>
    </div>
    <!--end search-->
    <!-- brand -->
    <div class="brand">
        <div class="container">

        </div>
        <div class="brand-bg">
            <div class="container">
                <div class="row">
                    <div th:each="phone : ${phones}" class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <a th:href="'/unique?id='+${phone.id}">
                            <div class="brand_box" >
                                <img th:src="${phone.imagePath}"  alt="img" />
                                <h3>€<strong th:text="${phone.price}" class="red"></strong></h3>
                                <span th:text="${phone.name}"></span>

                                <i th:each="i : ${#numbers.sequence(1 , phone.notation)}"><img src="images/star.png"/></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a class="read-more">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end brand -->

    <!-- footer -->
    <th:block th:insert="util/footer.html :: footer"></th:block>
    <!-- end footer -->
    <!-- Javascript files-->
    <th:block th:insert="util/import.html :: script"></th:block>

</body>

</html>